/* 
    Created on : 19-dic-2016, 16:36:25
    Author     : yaritza
*/

.container-fluid{
    padding-left: 0px !important;
    padding-right:  0px !important;
}


a {
    color: #FE9F07 !important;
}

.mt {
    margin-top: 30px;
}
/* ======= Header ========*/

.container-header{
    padding-top: 80px;
    height: 180px;
    background-image: url("../image/header.jpg");
    color: #FE9F07 !important;
    border-bottom: 10px solid #FE9F07;
}
.container-header h1 {
    color: #FFF !important;
    font-size: 40px !important;
}

.title-pag{
    margin-left: 60px !important;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 53px !important;
}


.img-logoHeader{
    opacity:0.9;
}

/* ======= Menu ========== */
.navbar-container{
    position: absolute !important;
    top:0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 0px !important;
    box-sizing: border-box;
    border: none !important;
}
.navbar-container > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-container .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-container .navbar .container {
    width: auto;
}

.navbar-inverse {
    /*background-color: transparent;*/
    background-color: #000 !important;
    opacity:0.9;
    border-color: #ccc;
    font-weight: 700;
    color:#fff !important;
}

.navbar-inverse .navbar-brand{
    color:#fff !important;
}

.navbar-inverse .navbar-nav>li>a {
    color:#fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active {
    color:#FE9F07 !important;
    border-bottom:5px solid #FE9F07;
    text-shadow:1px 1px 1px #000;
    background-color:rgba(69, 68, 68, 0.6) !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:#FE9F07 !important;
    color: #ffffff;
}

.navbar-form {
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: none !important;
}

.img-brand{
    width:80px;
}
/* ======= Carrousel ========== */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}



.btn-inici{
    margin-left:70px;
}


.btn-modal{
    margin-top:20px !important;
    margin-bottom:20px !important;
}

/* ======= caixes inici =====*/

/* efectes*/
.container-caixas{
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.container-caixas:after,
.caixa-element:before {
    content: '';
    display: table;
}

.container-caixas:after {
    clear: both;
}

.container-caixas li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.caixa-element {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.caixa-img-1 { 
    background-image: url(../image/obras.png);
}

.caixa-img-2 { 
    background-image: url(../image/actors.jpg);
}

.caixa-img-3 { 
    background-image: url(../image/directores.jpg);
}

.caixa-contingut {
    position: absolute;
    background: rgba(254,159,7, 0.85);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.caixa-contingut h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.caixa-contingut p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.caixa-contingut p a {
    display: block;
    color: red !important;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.caixa-contingut p a:hover {
    color: rgba(255,242,34, 0.8);
}

.caixa-contingut:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.caixa-element:hover .caixa-contingut {
    transform: scale(1);
    opacity: 1;
}
.caixa-element:hover .caixa-contingut p {
    opacity: 1;
}
/* ======= content ========*/

.page-text{
    font-size:18px;
    padding:20px;
    line-height: 2;
    text-align: justify;
}


.text-white {
    color:#fff !important;
}

/* ======= taula ========== */
th{
    text-align: center !important; 
}

/* ======= missatges ========== */
.container-confirmacio, .container-error{
    height:auto !important;
}

/* ======= Form ============== */


label.required{
    width: 100% !important;
    font-weight: bolder;
    font-size: 16px ;
}

input,select, textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-contact{
    margin-left: 20%;
}

/* ======= Login ========== */
.body-login{
    min-width: 100%;
    height:300px !important;
    background-image: url("../image/slide3.jpg");
    background-size: cover;    

}

.head-login{
    padding: 3px;
    background-color:#FE9F07 !important; 
   
}

.head-login h1{
     color:#fff !important;
     font-size: 25px !important;
}

.container-login{
    background-color: rgba(255, 255, 255, 0.9);
    height:380px;
    border-radius:6px;
    margin-bottom: 40px;
}

.form-login{
    font-size: 17px;
    padding:30px;
}

.img-Logologin{
    margin-left:30px;
    margin-top:80px;
    width:100px;
}

.login-arrow {
    position:absolute;
   
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, .form-control[type="text"]:focus, .form-control[type="password"]:focus, .form-control[type="email"]:focus, .form-control[type="tel"]:focus, .form-control[contenteditable]:focus{
    box-shadow: inset 0 -2px 0  #FE9F07 !important;
    -webkit-box-shadow: inset 0 -2px 0  #FE9F07 !important;
}
/*-------------------------------Icons---------------------------------*/

.icon{
    width:30px !important;
}

.btn-icon{  
    width:27px !important;
}

/* ======= Footer ========== */
.footer {
    clear: both;
    padding:20px;
    color:#fff;
    background-color: #000 !important;
    margin-top: 40px;
    border-top: 10px solid #FE9F07;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /*    .navbar-container {
            margin-top: 20px;
        }*/
    .navbar-container .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-container .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-container .navbar {
        border-radius: 4px;
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
    .col-xs-12 {
        padding: 0px 0 0 !important;
    }
    h1{
        font-size: 36px;
    }
    .img-logoHeader{
        max-width: 300px;
        margin-left:-30px;
    }

}

.pujar {
    position: fixed;
    top: 82%;
    left: 95%;
    color: #C00D0D;
    cursor: pointer;
}
.img-logo-footer {
        width:200px !important;
    }

@media (min-width: 992px) {
    
    .img-logo-footer {
        margin-left:50px;
    }

    .featurette-heading {
        margin-top: 120px;
    }
    .col-xs-12 {
        padding: 0px 0 0 !important;
    }

    .img-mostra{
        width:auto;       
        height:220px !important;
    }
    h1{
        font-size: 36px;
    }   
    .img-logoHeader{
        min-width: 300px;
        margin-left: -10px;

    }
    .img-logo-footer {
        margin-left:40px !important;
    }
    
    .img-quisom {
        margin-top:135px;
    }
    
    .page-text{
    font-size:15px;
    padding:10px;
    }
}

@media (min-width: 240px){
    
    .img-logo-footer {
        width:100px ;
    }
    .img-mostra{
        width: auto;
        height:220px !important;
    }
    .img-wapper, .col-xs-12{
        padding:0px !important;
        padding-top: 40px !important;}

    h1{
        font-size: 20px;
    }
    .img-logoHeader{
        max-width: 230px;
    }
    .img-logo-footer {
        margin-left:10px !important;
    }
    .img-quisom {
        width: 100%;
        margin-top:20px;
    }
    
    .page-text{
    font-size:15px;
    padding:10px;
    }
    
}