<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         <!-- Estils -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="view/css/tema.css"/>-->
        <link rel="stylesheet" type="text/css" href="{{asset('public/css/estil.css?<?php time()?>') }}"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
       
    </head>
    <body>
    <div class="container-fluid">
        {% block menu %}
        <div class="navbar-container">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="view/images/icon-logo.png" class="img-brand"/></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">                    
                        <ul class="nav navbar-nav">
                                <li><a href="#">Inici</a></li>
                                <li><a href="#">Qui som?</a></li>
                                <li><a href="#">Qui som?</a></li>
                                <li><a href="#">Llibres</a></li> 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Categories</a></li> 
                                <li><a href="#">Contacte</a></li> 
                        </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> Usuari  <span class="caret"></span></a>
                                            <ul class="dropdown-menu">                        
                                                <li><a href="#">Iniciar Sessio</a></li>
                                                <li><a href="#">Registrar-se</a></li>
                                        </ul>
                                </li>
                            </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
        {% endblock %}
        
        {% block content %}{% endblock %}

        {% block footer %}
            <footer class="footer">  
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3 col-md-push-2 col-lg-push-2">
            <h4>Explora la web</h4>
            <ul>
                <li><a href="#">Inici</a></li>
                <li><a href="#">Qui som?</a></li>
                <li><a href="#">Llibres</a></li> 
                <li><a href="#">Contacte</a></li> 
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3  col-md-4 col-lg-2 col-md-push-1 col-lg-push-1">
            <h4>Categories</h4>
            
        </div>
        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3  col-lg-push-1">
            <h4>Subscriure</h4>
            <p>Rebi nostres últimes notícies</p>
            <form>
                <input class="suscripcion" type="email" name="Ingrese su dirección de e-mail">
                <button class="btn btn-primary">Subscriure</button>             
            </form>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3  col-lg-push-1" >
            <h4>Social networks</h4>
            <div id="fd" class="col-xs-6 col-sm-3 col-md-2">
                <a href="#"><span class="fa fa-facebook fa-2x"></span></a>
            </div>
            <div id="twitter" class="col-xs-6 col-sm-3 col-md-2">
                <a href="#"><span class="fa fa-twitter fa-2x "></span></a>
            </div>
        </div>
    </div>
    <div class="container">        
        <hr/>
        <p>Copyright © 2017 | Creat per Yaritza Aburdene</p>
    </div>   

</footer>

        {% endblock %}
    </div>
        
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>
