{% extends "FrontendBundle:Default:base.html.twig" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <ul class="container-caixas">
                <li>
                    <div class="caixa-element caixa-img-1">
                        <div class="caixa-contingut">
                            <h3>Obras</h3>
                            <p><a href="#">Ver Obras</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="caixa-element caixa-img-2">
                        <div class="caixa-contingut">
                            <h3>Actores</h3>
                            <p> <a href="#">Ver Actores</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="caixa-element caixa-img-3">
                        <div class="caixa-contingut">
                            <h3>Directores</h3>
                            <p> <a href="#">Ver Directores</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}