{% extends "FrontendBundle:Default:base.html.twig" %}
{% block title %}Qui Som?{% endblock %}
{% block head %} 
    <header class="container-header">
        <div class="container">
            <h1>Qui Som?</h1>
        </div>                
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 mt">
            <div class="col-lg-6">                
                <div class="page-text">
                    <br>
                    <h3 class="text-center">Agència d'actors</h3>
                    <p>En 1992 comencen la creació de l'Agència d'Actors.</p>
                    <p>Des de llavors estem orgullosos d'ocupar-nos de les carreres d'alguns dels més 
                        destacats actors i actrius d'Espanya que han dipositat en nosaltres la seva confiança 
                        per assistir-los en la seva contractació amb els més prestigiosos directors de cinema 
                        i les més importants productores audiovisuals nacionals i internacionals.</p>                    
                </div>
            </div>
            <div class="col-lg-5 mt">               
                <img src="{{ asset('public/image/agencia.jpeg') }}" class="img-responsive img-quisom">
            </div>
            <div class="col-lg-12">
                <div class="page-text">
                    <p>L'agència s'ocupa d'estudiar els projectes en marxa en la indústria audiovisual, 
                        proposar als seus representats als directors de repartiment i negociar la seva 
                        contractació amb productors de Cinema, Teatre, Televisió i Publicitat. Part important 
                        del treball diari és l'assistència tècnica, jurídica i professional als artistes, la gestió 
                        de premsa i comunicació i el treball actiu per a la seva promoció tant dins com fora d'Espanya.</p>

                    <p>Des de fa anys per mitjà de la nostra pròpia productora audiovisual, intentem fer-nos 
                        presents en aquells projectes que considerem que són interessants per als nostres 
                        representats i que amb la nostra presència directa podem ajudar i impulsar.</p>            
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 {% block tipusObra %}
    {% for tipus in tipusObra %}
        <ul>
            <li name="idobra" hidden>{{ tipus.id}}</li>                                
            <li><a href="{{path('frontend_mostrar_tipoobra', { 'id': tipus.id })}}">{{ tipus.Descripcio}}</a></li>                                
        </ul>
    {% endfor %}
{% endblock %}