{% extends "FrontendBundle:Default:base.html.twig" %}
{% block title %}¿Quienes Somos?{% endblock %}
{% block head %} 
    <header class="container-header">
        <div class="container">
            <h1>¿Quienes Somos?</h1>
        </div>                
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div class="page-text">
                <p>En 1992 se ponen en marcha la creación de la Agencia de Actores.</p>

                <p>Desde entonces estamos orgullosos de ocuparnos de las carreras de algunos de los mas destacados actores 
                    y actrices de España que han depositado en nosotros su confianza para asistirles en su contratación con 
                    los más prestigiosos directores de cine y las mas importantes productoras audiovisuales nacionales 
                    e internacionales.</p>

                <p>La agencia se ocupa de estudiar los proyectos en marcha en la industria audiovisual, proponer a sus 
                    representados a los directores de reparto y negociar su contratación con productoras de Cine, Teatro, 
                    Televisión y Publicidad. Parte importante del trabajo diario es la asistencia técnica, jurídica y profesional 
                    a los artistas, la gestión de prensa y comunicación y el trabajo activo para su promoción tanto dentro como 
                    fuera de España.</p>

                <p>Desde hace años por medio de nuestra propia productora audiovisual, intentamos hacernos 
                    presentes en aquellos proyectos que consideramos que son interesantes para nuestros representados y que con la
                    presencia directa podemos ayudar e impulsar.</p>
            </div>
        </div>
    </div>


{% endblock %}